@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}
html {
    width: 100vw;
    scroll-behavior: smooth;
}
img {
    vertical-align: top;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    background: #181818;
    color: #437c86;
    font-family: 'Playfair Display', serif;
    overflow-x: hidden;
    cursor: none;
}
body::-webkit-scrollbar {
    display: none;
}
a {
    cursor: none;
}
.container {
    width: 1080px;
    height: 100vh;
    margin: 0 auto;
}

header {
    width: 100vw;
    height: 80px;
    position: fixed;
    z-index: 50;
    font-family: 'Raleway', sans-serif;
}

nav {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 200;
    color: #FFE9D0;
    animation: op2Ani 4s 1 ease-out;
}
nav h1 {
    display: none;
}
nav ul.gnb {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
nav ul.gnb > li {
    position: relative;
}
nav ul.gnb > li:hover {
    text-decoration: line-through;
} 

.op {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    margin-top: -200vh;
}
.op .opBg {
    width: 100vw;
    height: 200vh;
    background: linear-gradient(180deg, rgba(67,124,134,1) 0%, rgba(67,124,134,1) 50%, rgba(255,233,208,1) 50%, rgba(255,233,208,1) 100%);
    position: relative;
    z-index: 999;
    left: 0;top: 0;
    animation: opAni 4s 1 ease-out;
}
@keyframes opAni {
    0% {
        width: 100vw;
        height: 200vh;
        margin-top: -400vh;
        display: block;
    }
    100% {
        width: 100vw;
        height: 200vh;
        margin-top: 400vh;
        display: block;
    }
}

section {
    width: 100vw;
    height: 100vh;
    position: relative;
    animation: op2Ani 4s 1 ease-out;
}
@keyframes op2Ani {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

section.main {
    width: 100vw;
    height: 100vh;
    padding-top: 30px;
}
section.main .container {
    height: 200vh;
}

section.main .container .text {
    font-size: 2.5em;
    position: relative;
    top: 300px;
    left: 0;
    animation: txtAni 5.5s 1 ease-in;
}
@keyframes txtAni {
    0% {
        margin-top: 50px;
        opacity: 0;
    }
    90% {
        margin-top: 50px;
        opacity: 0;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}
section.main .container .dud {
    color: #FFE9D0;
}

section.main .container .nameBox {
    width: min-content;
    position: relative;
    top: 300px;
    left: 0;
}
section.main .container .nameBox h2 {
    font-size: 15em;
    font-weight: 900;
    letter-spacing: -5px;
    position: absolute;
    left: 0;
    top: 0;
    width: min-content;
    z-index: 10;
    animation: nameAni 5s 1 ease-out;
}
section.main .container .nameBox p {
    font-size: 15em;
    font-weight: 900;
    letter-spacing: -5px;
    position: absolute;
    display: block;
    top: 0;
    color: rgba(0,0,0,0);
    -webkit-text-stroke: 3px #437c86;
    -webkit-font-smoothing: antialiased;
    z-index: 12;
    animation: nameAni 5s 1 ease-out;
}
@keyframes nameAni {
    0% {
        margin-left: -500px;
        opacity: 0;
    }
    70% {
        margin-left: -500px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

section.main .container img {
    width: 450px;
    height: min-content;
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    border: 5px solid #437c86;
    z-index: 11;
}

section.main .scrIcon {
    position: fixed;
    top: 92vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 13;
}
section.main .scrIcon a {
    padding-top: 60px;
  }
section.main .scrIcon a p {
    color: #FFE9D0;
    margin-top: 50px;
    font-weight: 100;
}
section.main .scrIcon a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #FFE9D0;
    border-radius: 50px;
    box-sizing: border-box;
}
section.main .scrIcon a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 1.5s infinite;
    animation: sdb10 1.5s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 8px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}
@keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 8px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}


section.about h2 {
    display: none;
}
section.about .aboutTxt {
    width: 40%;
    height: 70vh;
    background-color: cornflowerblue;
    position: relative;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}



section.works {
    overflow: hidden;
}
section.works h2 {
    display: none;
}
section.works > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2800px;
    filter: saturate(0%);
    transition: all 0.3s;
    opacity: 0;
}
section.works > img.on {
    transition: all 0.7s;
    opacity: 0.3;
}
@keyframes worksAni {
    0% {
        opacity: 0;
        width: 0vw;
    }
    100% {
        opacity: 1;
        width: 100vw;
    }
}
section.works .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
section.works .container div {
    width: 350px;
    height: 450px;
    margin: 100px 100px 0 100px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
section.works .container div > a {
    width: 350px;
    height: 450px;
    display: block;
}
section.works .container div > a img {
    height: 450px;
    margin-left: -150px;
    transition: all 0.4s;
    filter: saturate(0%);
}
section.works .container div:hover > a img {
    transition: all 0.4s;
    filter: saturate(100%);
    transform: scale(1.2);
}
section.works .container div:hover > a span {
    position: absolute;
    font-size: 3.2em;
    z-index: 20;
    font-weight: 500;
    color: #FFE9D0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease-out;
}
section.works .container div p {
    position: absolute;
    font-size: 3.2em;
    z-index: 20;
    font-weight: 500;
    color: #FFE9D0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease-out;
}
section.works .container div:hover p {
    transition: all 0.4s ease-out;
    color: #181818;
    font-weight: 900;
}




section.contact h2 {
    font-size: 6em;
    width: 100vw;
    color: #437c86;
    margin: 0 auto;
    padding-top: 300px;
    text-align: center;
}
section.contact .contWrap {
    width: 1080px;
    display: flex;
    justify-content: space-around;
    position: relative;
    padding-top: 200px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}
section.contact .contWrap article {
    width: 150px;
    height: 100px;
    transition: all 0.4s;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
section.contact .contWrap article h3 {
    font-size: 2.3em;
    text-align: center;
    word-break: keep-all;
    margin-top: 25px;
    transition: all 0.3s ease-out;
}
section.contact .contWrap article:hover h3 {
    color: #FFE9D0;
    text-shadow: 0px 0px 10px #FFE9D0;
    transition: all 0.3s ease-out;
}
section.contact .contWrap article h3 a {
    cursor: none;
}
section.contact .contWrap article i {
    font-size: 2em;
    color: #FFE9D0;
    text-shadow: 0px 0px 10px #FFE9D0;
    position: absolute;
    right: -20px;
    top: -20px;
    opacity: 0;
    transition: all 0.3s ease-out;
}
section.contact .contWrap article:hover i {
    opacity: 1;
    transition: all 0.5s ease-out;
}